body {
  background: #bdd8d5;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: #bdd8d5;
}
.section, .nav {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}
.demo {
  padding: 20px; 
  color: #fff;
  text-align: center;
}
[data-tooltip]:after {
  white-space: normal;
  min-width: 300px;
}


/* html flow */
#demo-model div:nth-child(1) {background: #120d14;}
#demo-model div:nth-child(2) {background: #2e2e39;}
#demo-model div:nth-child(3) {background: #686a77;}
#demo-model div:nth-child(4) {background: #c3b1bd;}
#demo-model div:nth-child(5) {background: #b7c2d4;}

#demo-model.none div {display: none;}
#demo-model.block div {display: block;}
#demo-model.inline-block div {display: inline-block;}
#demo-model.inline div {display: inline;}
.floating.none {float: none;}
.floating.left {float: left;}
.floating.right {float: right;}

@media (max-width: 992px) {
  .label {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* html sizes */
.tools {
  display: flex;
  flex-grow: 1;
}
.base-box {
  width: 200px;
  height: 200px;
  background: #8bb5bf;
  display: flex;
  color: #000;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 20px;
}
.padding-box,
.border-box,
.margin-box {
  padding: 20px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  line-height: 0;
}
.padding-box, #padding {
  background: #c3d08b;
}
.border-box, #border {
  background: #fddd9b;
}
.margin-box, #margin {
  background: #f9cc9d;
}
#width, #height {
  background: #8bb5bf;
}
.padding-box > span,
.border-box > span,
.margin-box > span {
  position: absolute;
  color: #000;
  width: 100%;
  top: 0; left: 0;
  font-size: 16px;
  line-height: 20px;
}

/* html positions */
#demo-position {
  position: relative;
}
#demo-position div {
  width: 100px;
  height: 100px;
  display: inline-block;
  background: blueviolet;
  left: 0;
  top: 0;
}
#demo-position .position-target {
  background: #ff4136;
  width: 150px;
  text-align: center;
}
#demo-position .position-absolute-1 {
  position: absolute;
  z-index: 5;
  background: rgb(43, 226, 86);
  opacity: .8;
  left: 10%;
  top: 10%;
  border-radius: 100%;
  text-align: center;
  line-height: 100px;
}
#demo-position .position-absolute-2 {
  position: absolute;
  z-index: 6;
  background: rgb(216, 219, 16);
  opacity: .8;
  left: 15%;
  top: 15%;
  border-radius: 100%;
  text-align: center;
  line-height: 100px;
}



/* html flex */
#demo-flex div {
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 10px;
}
#demo-flex div:nth-child(1) {
  background: blueviolet;
  height: 200px;
}
#demo-flex div:nth-child(2) {
  background: rgb(104, 43, 226);
  height: 150px;
}
#demo-flex div:nth-child(3) {
  background: rgb(121, 11, 55);
  width: 300px;
}
#demo-flex div:nth-child(4) {
  background: rgb(44, 6, 21);
  height: 40px;
  width: 100px;
}
#demo-flex div:nth-child(5) {
  background: rgb(6, 44, 17);
}
#demo-flex div:nth-child(6) {
  background: rgb(44, 44, 6);
}
#demo-flex div:nth-child(7) {
  background: rgb(89, 89, 78);
}
#demo-flex div:nth-child(8) {
  background: rgb(5, 84, 100);
  width: 150px;
}
#demo-flex div:nth-child(9) {
  background: rgb(159, 144, 15);
  width: 150px;
}
#demo-flex div:nth-child(10) {
  background: rgb(100, 5, 95);
  height: 300px;
}